body{ background-color: rgba(255, 255, 255, 0.7); margin: 0px; padding: 0px;}
#portada{ background-color: rgb(220, 0, 0); text-align: center; font-size: 28px; box-shadow: 17px 22px 20px #000;
    color: #FFF; margin: auto; width: 50%; padding: 25px 0px;margin-top: 20px; border: solid 4px #FFF;border-radius: 20px; }


#formu{  width: 90%; margin: auto;  }
#formupload{  width: 70%; margin: auto; background-color: rgba(220, 0, 0, 1); border: solid 4px #FFF;margin-top: 30px;
     box-shadow: 17px 22px 20px; border-radius: 30px; ;}

#fila{ text-align: center; font-size: 25px; color: #FFF; padding-top: 15px; }

#lurl{font-size: 18px;}
#url{width: 80%;font-size: 18px; }

table{width: 100%; margin-bottom: 25px;;}
table tr td{ width: 50%; margin: 10px; border: 2px solid ;text-align: center; border-radius: 10px; background-color: #BBB;}


#boton2{ padding: 10px; margin-left: 30px;margin-top: 30px; margin-bottom: 30px;
    background-color: rgb(180, 180, 180);font-size:18px;width: 60%; border-radius: 15px;}

#nombre , #lineas{ margin: auto; font-size: 15px; margin: 10px; }
#img1{width: 70%; margin: 25px; border-radius: 15px;}
