{% load  static %}
<!DOCTYPE html>
<html>
    <head>
        <title>BAJAR AUDIO YOUTUBE</title>
        <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}>
        <script type="text/javascript" languaje="javascript" src={% static 'js/javascript.js' %} ></script>
    </head>
    <body background= {% static 'img/musica1.jpg' %}>
        <p id="portada">BAJAR AUDIO YOUTUBE</p>
    {% block content %}
        <div id="formupload" >
            
            <form id="formu" enctype="multipart/form-data" method="POST" >
                {% csrf_token %}
                <p id="fila">CARGAR URL DEL VIDEO:
                <table>
                    <tr>
                        <td><label id="lurl" for="url">PEGA AQUI URL DEL VIDEO</label></td>
                        <td><input type="text" name="url" id="url" onchange="enableBoton()"></td>
                    </tr>
                    <tr>
                        <td><button type="submit" id="boton2">EXTRAER AUDIO</button></td>
                        <td><img id="img1" src={% static 'img/concert.jpg' %}></td>
                    </tr>
                </table> 
                
                 
            
            </form>

            
    {% endblock %}
        </div>
    </body>


</html>
